{:paths ["src/main" "src/test" "dev"]
 :deps {org.clojure/clojurescript {:mvn/version "1.11.132"}
        reagent/reagent {:mvn/version "1.2.0"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        metosin/reitit {:mvn/version "0.7.2"}
        day8.re-frame/test {:mvn/version "0.1.5"}}}
